@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global light/dark mode styles */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* light */
  color: #111827; /* dark text on light */
}

body.dark {
  background-color: #111827; /* dark */
  color: #f9fafb; /* light text on dark */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
